/* mediaboxAdvanced - white theme */

#mbOverlay {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #445569;
	cursor: pointer;
}

#mbOverlay.mbOverlayFF {
	background: transparent url(../images/mediabox/80.png) repeat;
}

#mbOverlay.mbOverlayIE {
	position: absolute;
}

#mbCenter {
	position: absolute;
	z-index: 9999;
	left: 50%;
	overflow: hidden;
	background-color: #fff;
	-moz-border-radius-topleft: 40px;
	-moz-border-radius-bottomright: 40px;
	-webkit-border-top-left-radius: 40px;
	-webkit-border-bottom-right-radius: 40px;
	-moz-box-shadow: 0px 5px 20px rgba(0,0,0,0.40);
	-webkit-box-shadow: 0px 5px 20px rgba(0,0,0,0.40);
}

#mbCenter.mbLoading {
	background: #fff url(../images/4wdLoading.gif) no-repeat center;

/*	This style is applied only during animation.	*/
/*	For example, the following turns off shadows,	*/
/*	helping browser performance on slow systems.	*/
/*	To leave shadows on, just remove these lines:	*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

#mbImage {
	position: relative;
	left: 0;
	top: 0;

/*	Begin styles for inline content, if no style is given	*/
	font-family: Arial, Helvetica, sans-serif;
	line-height: 130%;
	font-size: 9pt;
	color: #000;
	text-align: left;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 20px 20px 8px 20px;
}

#mbImage a, #mbImage a:link, #mbImage a:visited {
	color: #333;
}

#mbImage a:hover, #mbImage a:active {
	color: #000;
}

/*	End inline content styles	*/

#mbBottom {
	text-align: left;
	padding: 0 25px 5px 20px;
	min-height:25px;
}

#mbTitle {
	display: block;
	color: #7E1518;
	font-weight: bold;
	line-height:100%;
	padding-top:5px;
}

#mbNumber {
	display: block;
	position:absolute;
	right:100px;
	bottom:10px;
	color: #333;
	line-height: 120%;
	font-size: 9pt;
	margin-left:10px;
	
}

#mbCaption {
	color: #445569;
	line-height: 140%;
	padding-top:5px;
}
#mbCaption:empty {
	padding-top:0px;
}

#mbPrevLink, #mbNextLink {
	display: block;
	float: right;
	height: 20px;
	width: 20px;
	margin: 0px 10px 0px 0px;
	outline: none;
	padding-bottom:0px;
}

#mbPrevLink {
	background: transparent url(../images/4wdPrevious.gif) no-repeat center;
}

#mbNextLink {
	background: transparent url(../images/4wdNext.gif) no-repeat center;
}

#mbCloseLink {
	display:block;
	outline:none;
	width: 21px;
	height:19px;
	position:absolute;
	top:0px;
	right:0px;
	background: transparent url(../images/4wdClose.gif) no-repeat top right;
}

/*	Styles for flash version alert	*/

#mbError {
	position: relative;
	font-family: Myriad, Verdana, Arial, Helvetica, sans-serif;
	line-height: 20px;
	font-size: 12px;
	color: #000;
	text-align: center;
	border: 10px solid #700;
	padding: 10px 10px 10px;
	margin: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#mbError a, #mbError a:link, #mbError a:visited, #mbError a:hover, #mbError a:active {
	color: #700;
	font-weight: bold;
	text-decoration: underline;
}

/* Some Style for lightbox4ward */
/* The Javascript sets overflow:auto! We cant do this here because transition-bug on windows */

.lightbox4wardContentInside {
	background-color:#fff;
	color:#000;
	height:100%;
}